.content {
  padding-top: 80px;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.navbar {
  background: #f9f9f9 !important;
  overflow: hidden !important;
}
.nav-link {
  color: #111 !important;
  font-size: 18px;
  margin-right: 10px;
  font-weight: 500;
}
.container-fluid {
  margin: 0 30px !important ;
}
.navbar-light .navbar-toggler {
  border: none !important;
  border-color: none !important ;
}
.navbar-toggler:focus {
  box-shadow: none !important;
}
.cart-item {
  margin: 0 -100px 0px 0;
  visibility: hidden;
}
@media screen and (max-width: 578px) {
  .cart-item {
    visibility: visible;
  }
}
.cart-shop {
  margin-top: -5px;
}

.dropdown {
  z-index: 1 !important;
}
/* banner */

.slider {
  background-color: #f3f3f3;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 50px;
  object-fit: cover;
  border-radius: 20px;
  margin-bottom: 50px;
  z-index: 0;
}
.single-carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.single-carousel img {
  width: 80%;
}
.single-carousel h2 {
  font-size: 45px;
  font-weight: 600;
}
.single-carousel p {
  font-size: 16px;
}
.slick-dots li.slick-active button:before {
  font-size: 20px;
  color: rgb(178, 12, 219);
}
.slick-next,
.slick-prev {
  font-size: 30px;
  background: #000;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.slick-next:hover,
.slick-prev:hover {
  background-color: purple;
}
.shop-now {
  background-color: #332d2d;
  color: #f9f9f9;
  outline: none;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
}
/* footer  */
.footer {
  background: #f9f9f9;
  padding-top: 100px;
}

.footer .footer-text {
  font-size: 16px;
  padding: 10px 0;
  color: #332d2d;
  margin-top: 10px;
}
.footer .footer-icon {
  font-size: 16px;
}
.footer-icon .icon {
  margin-right: 10px;
  color: #332d2d;
  margin-bottom: 10px;
}

.footer ul {
  list-style-type: none;
}
.footer ul li {
  margin-bottom: 5px;
}
.footer h4 {
  margin-left: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}
.footer a {
  text-decoration: none;
  color: #332d2d;
  padding-bottom: 5px;
  font-size: 17px;
  font-weight: 500;
  transition: all 0.6s ease-in-out;
}
.footer a:hover {
  border-bottom: 1px solid rgb(206, 55, 160);
  color: rgb(206, 55, 160);
  transition: all 0.3s ease-in-out;
}
.space-between-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-image {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
}

/* faq */
.faq h5 {
  font-weight: 600 !important;
  font-size: 18px;
}
.faq {
  width: 50%;
  margin: 0 auto;
}

/* products  */

.row-product {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}
.single-product {
  box-shadow: rgba(17, 14, 14, 0.05) 0px 1px 2px 0px;
  padding: 20px;
  position: relative;
  transition: all 0.4s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.single-product:hover {
  box-shadow: rgba(31, 30, 30, 0.1) 0px 4px 12px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  background-color: #f9f9f9;
}

.flex-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.single-product img {
  width: 40%;
}
.sale {
  position: absolute;
  top: 10px;
  right: 10px;
  left: 200px;
  font-size: 12px;
  padding: 3px 2px;
  background-color: #256fef;
  color: rgb(253, 250, 250);
  border-radius: 50px;
  font-weight: 500;
  text-align: center;
}
.category {
  font-size: 16px;
  color: rgb(106, 108, 109);
}

.button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
}
.single-product:hover .button-group {
  visibility: visible;
  transition: all 0.4s ease-in-out;
}
.button-group button {
  border: none;
  outline: none;
}
.add-to-cart {
  background-color: rgb(243, 218, 79);
  font-weight: 600;
  padding: 5px 8px;
  border-radius: 2px;
}
.details {
  background-color: rgb(228, 154, 70);
  font-weight: 600;
  padding: 5px 8px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.product-details h2 {
  font-size: 25px;
  font-weight: 600;
}
.product-details .product-price {
  color: #fab764;
  font-weight: bold;
  font-size: 35px;
}
.product-details h5 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}
.product-details li {
  font-size: 18px;
}
.add-to-cart-details {
  outline: none;
  border: none;
  background-color: rgb(221, 52, 170);
  color: #f3f3f3;
  padding: 10px 15px;
  margin: 10px 0;
}
.total-amount {
  font-weight: bold;
  font-size: 25px;
}
.order {
  outline: none;
  border: none;
  background-color: #256fef;
  font-weight: bold;
  font-size: 16px;
  color: #f3f3f3;
  padding: 10px 15px;
  border-radius: 4px;
  margin: 10px 0;
}

.filtering .filter-item {
  background-color: #f6f6f6;
  width: 22%;
  padding: 15px 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  border-radius: 10px;
}
.filtering .filter-item:hover {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  transition: all 0.5s ease;
}
.filter-item img {
  width: 50%;
}
.filter-item h5 {
  font-size: 18px;
  font-weight: 400;
}
.text-bold {
  font-weight: 500;
  font-size: 22px;
}
@media screen and (max-width: 768px) {
  .container-fluid {
    margin: 0 !important;
  }
  .middle-button,
  .middle-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .faq {
    width: 100%;
    margin: 0 auto;
  }
  .row-product {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(1, 1fr);
  }
  .product-details h2 {
    font-size: 22px;
    font-weight: 500;
  }
  .bradcame {
    text-decoration: none;
    color: #000;
    font-size: 16px;
  }
  .product-details .product-price {
    color: #fab764;
    font-weight: 600;
    font-size: 25px;
  }
  .product-details h5 {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 768px) {
  .cart-item {
    display: block;
  }
  .cart-shop {
    display: none !important;
  }
  .filtering .filter-item {
    width: 100%;
  }
}
